<form action="/people" method="post" enctype="multipart/form-data" id="upload_csv">
  <input name="csv_file" type="file" id="csv_file" accept=".csv">
  <button type="submit">Upload</button>
</form>
<ul>
  <li class="id_field">id</li>
  <li>First Name</li>
  <li>Last Name</li>
  <li>Email</li>
  <li>Phone</li>
  <li class="errors_field">Errors</li>
  <li></li>
</ul>
<div class="people">
</div>
